body {
  background-color: #FF1A55;
  overflow: hidden
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 100px;
}

.contenedor {
  text-align: center;
  margin: 0 auto;
  height: 300px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor input {
  text-align: center;
}

.contenedor #btnb {
  margin: 0 10px;


}

.contenedor #btn {
  margin: 0 10px;

}

.pokemon {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  display: inline-block;

}

p {
  margin-top: -60px;

}

footer {
  overflow: hidden;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  background: #000;

}

footer p {
  text-align: center;
  line-height: 60px;
  color: #fff;
  
}

#caja{
  border-radius: 5px; 
  border: 2px solid #007BFF;
}

#cuadroimg{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-left: 80px;
  border: 2px inset #FFC107;
  border-radius: 15px;
}

#img{
  margin-bottom: 20px;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a {
  height: 44px;
  display: block;
}

#prev {
  left: 0px;
  width: 46px;
  background: url('../../img/iconos/izq.png') 0 0;
}

#home {
  left: 63px;
  width: 43px;

  background: url('../../img/iconos/home.png') 0 0;
}

#next {
  left: 129px;
  width: 45px;
  background: url('../../img/iconos/der.png');
}

#prev a:hover {
  background: url('../../img/iconos/izqsprite.png');
}

#home a:hover {
  background: url('../../img/iconos/homesprtite.png');
}

#next a:hover {
  background: url('../../img/iconos/dersprite.png');
}

@media (max-width: 576px) { 
  #posts {
    display: none;
  }

  #textos {
    width: 100%;
    display: inline;
  }
}

@media (max-width: 768px) { 
  #posts {
    display: none;
  }

  #textos {
    width: 100%;
    display: inline;
  }
}

@media (min-width: 992px) { 
  
}

@media (min-width: 1200px) { 

}
