body {
  background-color: #FF1A55;
  overflow: hidden
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 100px;
}

.contenedor {
  text-align: center;
  margin: 0 auto;
  height: 300px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor input {
  text-align: center;
}

.contenedor #btnb {
  margin: 0 10px;


}

.contenedor #btn {
  margin: 0 10px;


}

.pokemon {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  display: inline-block;

}

p {
  margin-top: -60px;

}


.topnav {
  overflow: hidden;
  background-color: transparent;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;

}

.topnav a:hover {
  background-color: transparent;
  color: black;

}

.topnav a.active {
  background-color: transparent;
  color: white;

}

footer {
  overflow: hidden;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  background: #000;

}

footer p {
  text-align: center;
  line-height: 60px;
  color: #fff;
  
}

#caja{
  border-radius: 5px; 
  border: 2px solid #007BFF;
}